<h2>画像診断による旅先提案</h2>
<p>下の画像から貴方が気に入った順に3つの画像を選択して下さい</p>
<p>「診断する」をクリックすると、おすすめの旅先3箇所が表示されます</p>
<%= form_tag("results", method: "get") do %>
<label for="select_no1">1番目に好きな画像</label>
<%= select :select, :no1, @image_select_option %>

<label for="select_no2">2番目に好きな画像</label>
<%= select :select, :no2, @image_select_option %>

<label for="select_no3">3番目に好きな画像</label>
<%= select :select, :no3, @image_select_option %>

<%= submit_tag("診断する",style:"margin-left:20px;") %>
<% end %>
<br />
<!-- Gallery -->
<div class="gallery">
<img style="width: 300px;height:200px;" class="caption" title="画像1" src="/images/selectImages/1.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像2" src="/images/selectImages/2.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像3" src="/images/selectImages/3.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像4" src="/images/selectImages/4.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像5" src="/images/selectImages/5.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像6" src="/images/selectImages/6.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像7" src="/images/selectImages/7.jpg" width="200" height="200" />
<img style="width: 300px;" class="caption" title="画像8" src="/images/selectImages/8.jpg" width="200" height="200" />
<img style="width: 300px;height:200px;" class="caption" title="画像9" src="/images/selectImages/9.jpg" width="200" height="200" />
<img style="width: 300px;height:200px;" class="caption" title="画像10" src="/images/selectImages/10.jpg" width="200" height="200" />
</div>


